apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: historia-clinicas-backendconfig
  namespace: historia-clinicas
spec:
  healthCheck:
    checkIntervalSec: 15
    timeoutSec: 10
    healthyThreshold: 1
    unhealthyThreshold: 3
    type: HTTP
    requestPath: /
    port: 8080
  connectionDraining:
    drainingTimeoutSec: 300