apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: yosoy-historia-clinica-backendconfig
  namespace: yosoy-historia-clinica
spec:
  healthCheck:
    checkIntervalSec: 15
    timeoutSec: 10
    healthyThreshold: 1
    unhealthyThreshold: 3
    type: HTTP
    requestPath: /
    port: 8080
  connectionDraining:
    drainingTimeoutSec: 300