apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: authenticfarma-candidatos-backendconfig
  namespace: authenticfarma-candidatos
  labels:
    app: authenticfarma-candidatos
    platform: authenticfarma
spec:
  healthCheck:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 1
    unhealthyThreshold: 3
    type: HTTP
    requestPath: /
    port: 80
  connectionDraining:
    drainingTimeoutSec: 60
  timeoutSec: 30