apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: historia-clinica
  namespace: argocd
  labels:
    app.kubernetes.io/name: historia-clinica
    app.kubernetes.io/managed-by: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/desarrolloIngenios/authentic-platform.git
    targetRevision: HEAD
    path: apps/yosoy/historia-clinica/argocd
  destination:
    server: https://kubernetes.default.svc
    namespace: historia-clinicas
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10